<style>
    .filter-controls {
    margin: 20px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.filter-controls select {
    min-width: 200px;
}

.form-inline {
    display: flex;
    gap: 10px;
    align-items: center;
}

</style>


<div class="filter-controls mb-3">
    <form class="form-inline">
        <select class="form-control mr-2" name="filterStatus" onchange="this.form.submit()">
            <option value="">All Orders</option>
            <option value="Pending" <%= currentFilter === 'Pending' ? 'selected' : '' %>>Pending</option>
            <option value="Completed" <%= currentFilter === 'Completed' ? 'selected' : '' %>>Completed</option>
        </select>
    </form>
</div>


<h1>Orders</h1>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Status</th>
            <th>Price</th>
            <th>Action</th> <!-- New Action column -->
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(order => { %>
            <tr>
                <td><%= order.firstName %></td>
                <td><%= order.lastName %></td>
                <td><%= order.email %></td>
                <td><%= order.address %></td>
                <td><%= order.city %></td>
                <td><%= order.country %></td>
                <td><%= order.status %></td> <!-- Display status -->
                <td><%= order.totalPrice %></td>
                <td>
                    <% if (order.status === 'Pending') { %>
                        <form action="/admin/orders/complete/<%= order._id %>" method="POST">
                            <button type="submit">Complete</button>
                        </form>
                    <% } else { %>
                        Completed
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<!-- Pagination Controls -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <% if (currentPage > 1) { %>
            <li class="page-item">
                <a class="page-link" href="/admin/orders/<%= currentPage - 1 %>">Previous</a>
            </li>
        <% } %>
        <% for (let index = 1; index <= totalPages; index++) { %>
            <li class="page-item <%= index === currentPage ? 'active' : '' %>">
                <a class="page-link" href="/admin/orders/<%= index %>"><%= index %></a>
            </li>
        <% } %>
        <% if (currentPage < totalPages) { %>
            <li class="page-item">
                <a class="page-link" href="/admin/orders/<%= currentPage + 1 %>">Next</a>
            </li>
        <% } %>
    </ul>
</nav>
